async-timeout==4.0.2
attrs==22.1.0
bleach==4.1.0
build==0.8.0
certifi==2022.6.15
charset-normalizer==2.0.12
colorama==0.4.5
dataclasses==0.8
Deprecated==1.2.13
docutils==0.18.1
idna==3.3
importlib-metadata==4.8.3
importlib-resources==5.4.0
iniconfig==1.1.1
keyring==23.4.1
orjson==3.6.1
packaging==21.3
pep517==0.13.0
pkginfo==1.8.3
pluggy==1.0.0
psutil==5.9.2
py==1.11.0
py-cpuinfo==8.0.0
pydantic==1.9.2
Pygments==2.13.0
pyparsing==3.0.9
pytest==7.0.1
pytest-benchmark==3.4.1
pytest-lazy-fixture==0.6.3
readme-renderer==34.0
redis==4.3.4
redislite==6.0.674960
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
six==1.16.0
tomli==1.2.3
tqdm==4.64.0
twine==3.8.0
typing_extensions==4.1.1
urllib3==1.26.12
webencodings==0.5.1
wrapt==1.14.1
zipp==3.6.0
